body{
  background-color: #4B36A9;
  background-color: rgb(20, 19, 19);
  color: rgb(255, 255, 255);
  font-family: 'Comic Neue', cursive;  
}
.App {
  text-align: center;
}
.header-img{
  display: flex;
  height: 300px;
}
.header-img img{
  width: 100%;
}

